<div class="row">
  <h1 class="m-auto text-center py-5 col-12">Customer</h1>
  <% @customer_all.each do |customer| %>
    <div class="card col-4 mb-5">
      <h4 class="">Customer: <%= customer.full_name %></h4>
      <p class="">Address: <%= customer.address %></p>
      <p class="">Phone: <%= customer.phone %></p>
      <p class="">Email: <%= customer.email %></p>
    </div>
  <% end %>
</div>